{% extends 'base/base.html' %}
{% load i18n %}

{% block content %}
<h3>{% trans "Account Details:" %}</h3>
<p>{% trans "Your username:" %} {{ user.username }}</p>
<p>{% trans "Your email:" %} {{ user.email }}</p>

<a class="btn btn-warning" href="{% url 'change_password' %}">
    {% trans "Forgot password" %}
</a>

<a class="btn btn-warning" href="{% url 'change_username' %}">
    {% trans "Change username" %}
</a>

<button class="btn btn-danger text-dark" type="button" data-bs-toggle="modal"
        data-bs-target="#Logout_Window">
    {% trans "Log out" %} <i class="bi bi-door-open-fill"></i>
</button>
<hr>

{% if not user.is_superuser %}
<h3>{% trans "Ordered Pictures:" %}</h3>

{% if user_orders %}
<div class="row row-cols-1 row-cols-md-3 g-1">
    {% for order in user_orders %}
      <div class="col">
        <a href="{% url 'picture_details' order.picture.id %}" class="text-decoration-none">
          <div class="card shadow-sm">
            <img src="{{ order.picture.presigned_url }}" class="bd-placeholder-img card-img-top"
                 alt="{{ order.picture.name }}" height="250" style="object-fit: cover; width: 100%;">
            <div class="card-body">
                <h4>{% trans "Order Info:" %}</h4>
                <span class="badge bg-warning text-dark">{% trans "Picture name:" %} {{ order.picture.name }}</span><br>
                <span class="badge bg-warning text-dark">{% trans "Ordered on name:" %} {{ order.full_name }}</span><br>
                <span class="badge bg-warning text-dark">{% trans "Delivery postcode:" %} {{ order.postcode }}</span><br>
                <span class="badge bg-warning text-dark">{% trans "Date of order:" %} {{ order.dateOfOrder }}</span><br>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
</div>
{% else %}
<p>{% trans "No orders yet ..." %}</p>
{% endif %}

{% else %}
<h3>{% trans "Admin Settings:" %}</h3>
<a class="btn btn-warning btn-header invisible-link" href="{% url 'upload_photo' %}">
    {% trans "Upload photo" %}
</a>
{% endif %}

<div class="modal fade" id="Logout_Window" tabindex="-1" aria-labelledby="Logout_Window" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">{% trans "Confirm to log out" %}</h1>
            </div>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <div class="modal-footer" style="display: flex;">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    <button type="submit" class="btn btn-warning btn-header" style="margin-left: auto;">
                        {% trans "Confirm" %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
