.error {
    color: red;
}
.blacker {
    color: black;
}
.user_info {
    text-align: right;
}
.bg {
    background-color: #808080;
    padding-left: 15px;
    padding-right: 15px;
}
.searchbar {
    border: 1 px solid;
    padding: 0;
    background: none;
    text-align: center;
    border-radius: 0.5rem;
    font-size:19px;
    width: 100%;
    padding: 5px;
}
.product {
    border: none;
    padding: 0;
    background: none;
}
.my_card {
    border: 2px solid;
    border-radius: 5px;
    padding: 7px 15px 7px 15px;
    background-color: #808080;
}
.my_badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 95%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.container {
    display: flex;
    align-items: centre;
    justify-content: space-between;
    width: 100%;
}

.left {
    display: flex;
    padding: 5px;
    margin:  5px;
    align-items: left;
}

.center {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.right {
    display: flex;
    padding: 5px;
    margin:  5px;
    align-items: right;
}